.error{
    color: #F4CE14;
}
.errorContainer{
    background-color: #495E57;
    text-align: center;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}