.footer{
    position: fixed;
    bottom: 0;
    background-color: #495E57;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
}