body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

code {
  font-family: 'Karla';
}
h1{
  margin-block-start: 0.4em;
    margin-block-end: 0.4em;

}
html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: border-box;
}
